@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("HelveticaNeueLTPro-Bd.woff2") format("woff2"),
    url("HelveticaNeueLTPro-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DecimaMonoPro";
  src: url("DecimaMonoPro.woff2") format("woff2"),
    url("DecimaMonoPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eurostile Next LT Pro Extended";
  src: url("EurostileNextLTPro-BoldExt.woff2") format("woff2"),
    url("EurostileNextLTPro-BoldExt.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("HelveticaNeueLTPro-Md.woff2") format("woff2"),
    url("HelveticaNeueLTPro-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: url("HelveticaNeueLTPro-Roman.woff2") format("woff2"),
    url("HelveticaNeueLTPro-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
